<h1 align="center">Welcome to Gradebook Grabber!</h1>
<h2 align="center">An app that allows Teachers, Students, and Parents to track student progress reports.</h2>

<h1 class="login-text">Login</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag login_path do %>
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, class: 'form-control' %>

      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: 'form-control' %>
    <div class="login-button">
      <%= submit_tag "Log in", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
