<!DOCTYPE html>
<html>
<head>
  <title>Gradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <h3 class="nav-title">Gradebook Grabber</h3>
      <ul>
          <li class="logout-link"><%= link_to "Log out", root_path %></a></li>

      </ul>
  </nav>

<p id="notice"><%= notice %></p>
<%= yield %>



</body>
</html>
